.top-margin {
    margin-top: 1em;
}

.hidden-content {
    display: none !important;
}

.alert {
    margin-top: 1em;
}

.btn-link {
    text-decoration: none !important;
    color: black !important;
}