{% extends "layouts/main.html" %}

{% block content %}
<!-- positions form start -->
<div class="col d-flex justify-content-center">
    <div class="card w-75">
        <div class="card-body">
            <form id="positions_form" action="{{ url_for('invoice_form') }}" method="POST" novalidate>
                {{ positions_form.csrf_token }}
                <div class="form-row">
                    <div class="col-md-4">
                        {{ positions_form.unit.label }}
                        {% if positions_form.unit.errors %}
                        {{ positions_form.unit(class="form-control is-invalid", id="unit", **{'aria-describedby':"unitValidation"}) }}
                        {% else %}
                        {{ positions_form.unit(class="form-control", id="amount") }}
                        {% endif %}
                        <!-- Error Message -->
                        {% for error in positions_form.unit.errors %}
                        <div class="invalid-feedback" id="unitValidation">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        {{ positions_form.amount.label }}
                        {% if positions_form.amount.errors %}
                        {{ positions_form.amount(class="form-control is-invalid", id="amount", **{'aria-describedby':"amountValidation"}) }}
                        {% else %}
                        {{ positions_form.amount(class="form-control", id="amount") }}
                        {% endif %}
                        <!-- Error Message -->
                        {% for error in positions_form.amount.errors %}
                        <div class="invalid-feedback" id="amountValidation">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        {{ positions_form.price.label }}
                        {% if positions_form.price.errors %}
                        {{ positions_form.price(class="form-control is-invalid", id="price", **{'aria-describedby':"priceValidation"}) }}
                        {% else %}
                        {{ positions_form.price(class="form-control", id="price") }}
                        {% endif %}
                        <!-- Error Message -->
                        {% for error in positions_form.price.errors %}
                        <div class="invalid-feedback" id="priceValidation">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    {{ positions_form.description.label }}
                    {% if positions_form.description.errors %}
                    {{ positions_form.description(class="form-control is-invalid", id="description", **{'aria-describedby':"descriptionValidation"}) }}
                    {% else %}
                    {{ positions_form.description(class="form-control", id="description") }}
                    {% endif %}
                    <!-- Error Message -->
                    {% for error in positions_form.description.errors %}
                    <div class="invalid-feedback" id="descriptionValidation">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" id="positions-submit" type="submit">Add Position</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- positions form end -->
{% if positions %}
<!-- positions table start -->
<div class="col d-flex justify-content-center">
    <div class="card w-75">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Unit</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="positions-table-body">
                        {% for position in positions %}
                        <tr>
                            <td>{{ position.unit }}</td>
                            <td>{{ position.amount }}</td>
                            <td>{{ position.description }}</td>
                            <td>{{ position.price }}</td>
                            <td>{{ position.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- positions table end -->
<!-- invoice form start -->
<div class="col d-flex justify-content-center">
    <div class="card w-75">
        <div class="card-body">
            <form>
                {{ invoice_form.csrf_token }}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ invoice_form.start_date.label }}
                        {{ invoice_form.start_date(class="form-control", id="start_date") }}
                        <!-- Error Message -->
                        {% for error in invoice_form.start_date.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ invoice_form.end_date.label }}
                        {{ invoice_form.end_date(class="form-control", id="end_date") }}
                        <!-- Error Message -->
                        {% for error in invoice_form.end_date.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" id="invoice-submit" type="submit">Create Invoice</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- invoice form end -->
{% endif %}
{% endblock %}
{% block script %}
{% endblock %}