{% extends "layouts/main.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="col d-flex justify-content-center">
                <div class="alert alert-success" role="alert">
                    <h4>Please download your invoice!</h4>
                    <form action="{{ url_for('invoice_pdf') }}" method="POST">
                        <div class="form-group text-center">
                            <button class="btn btn-success" id="positions-submit" type="submit">Download</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card top-margin">
                <div class="card-body p-0">
                    <div class="row p-5">
                        <div class="col-md-12 text-right">
                            <p class="mb-1">Musterfirma</p>
                            <p>Max Mustermann</p>
                            <p class="mb-1">Musterstraße 42</p>
                            <p class="mb-1">12345 Musterstadt</p>
                        </div>
                    </div>

                    <hr class="my-5">

                    <div class="row pb-5 p-5">
                        <div class="col-md-6">
                            <p class="font-weight-bold mb-4">Client Information</p>
                            <p class="mb-1">{{ invoice_details.firstname }} {{ invoice_details.lastname }}</p>
                            <p>{{ invoice_details.company_name }}</p>
                            <p class="mb-1">{{ invoice_details.street }} {{ invoice_details.house_number }}</p>
                            <p class="mb-1">{{ invoice_details.zip_code }} {{ invoice_details.city }}</p>
                        </div>

                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-4">Invoice Details</p>
                            <p class="mb-1"><span class="text-muted">Invoice #: </span>{{ invoice_details.invoice_number }}</p>
                            <p class="mb-1"><span class="text-muted">Billing Date: </span>{{ created.strftime('%d.%m.%Y') }}</p>
                            <p class="mb-1"><span class="text-muted">Due to: </span>{{ payment_due.strftime('%d.%m.%Y') }}</p>
                            <p class="mb-1"><span class="text-muted">Invoice Period Start: </span>{{ invoice_details.start_date.strftime('%d.%m.%Y') }}</p>
                            <p class="mb-1"><span class="text-muted">Invoice Period End: </span>{{ invoice_details.end_date.strftime('%d.%m.%Y') }}</p>
                        </div>
                    </div>

                    <div class="row p-5">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Amount</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Unit</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Description</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Unit Cost</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for position in positions %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ position.amount }}</td>
                                        <td>{{ position.unit }}</td>
                                        <td>{{ position.description }}</td>
                                        <td>{{ position.price|currencyFormat }}</td>
                                        <td>{{ position.total|currencyFormat }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse bg-light text-black p-4">
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Grand Total</div>
                            <div class="h2 font-weight-heavy">{{ total|currencyFormat }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}